.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
}
.side-nav-active {
  max-width: 80%;
}

#map{
    background:white;
}
.leaflet-container {
    width: 583px;
    height: 634px;
  background:white;
  position: relative;
  flex: 1;
  display: flex;
}
.tcontainer{
    position: absolute;
    top: 2em;
    right: 2em;
    height: 10em;
    z-index: 6;
    color: #31708f;
    font-size: .85em;
    display: block;
}
.statetooltip{
  position: absolute;
  top:37em;
  right:1em;
  z-index:6;
  color:black;
  padding:.5em .75em;
  font-size:.85em;
  display:block;
    width: 200px;
    height: 67px;
    background-color: rgba(233, 234, 229, 0.7);
    text-align: center;
    line-height: 30px;
}


.legendcontainer{
    position: absolute;
    top: 50em;
    right: 2em;
    height: 10em;
    z-index: 6;
    color: #31708f;
    font-size: .85em;
    display: block;
}
@import "statetooltip";
@import "timeline";
@import "colorlegend";
@import "content-body";
@import "report-meta";
@import "content-footer";