.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
}
.side-nav-active {
  max-width: 80%;
}

#map{
background:white;
}
.leaflet-container {
  height: 500px;
  width: 100%;
}
.statetooltip{
position: absolute;
top:2em;
right:1em;
z-index:6;
background:rgba(0,0,0,.75);
color:white;
padding:.5em .75em;
font-size:.85em;
display:none;
}

@import "content-body";
@import "report-meta";
@import "content-footer";