.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
}
.side-nav-active {
  max-width: 80%;
}

#map{
background:white;
}
.leaflet-container {
    width: 583px;
    height: 634px;
}
.statetooltip{
position: absolute;
top:40em;
right:2em;
height:10em;
width:20em;
z-index:6;
color:#31708f;
font-size:.85em;
display:block;
}
.tcontainer{
position: absolute;
top: 5em;
right: 2em;
height: 10em;
z-index: 6;
color: #31708f;
font-size: .85em;
display: block;
}
.timeline{
list-style-type: none;
display: flex;
align-items: center;
justify-content: center;
}
.tparts{
width: 60px;
display: inline;
}
.step{
display: block;
margin: 0 auto;
z-index:1;
position: absolute;
top:10px;
}
.inner {
margin-top: 20px;
border-bottom: 2px solid #C3C3C3;
position: relative;
}
.outer{
float:right;
width:60%;
}
.tlabel{
font-size: 12px;
display: block;
padding-top: 25px;
}
@import "content-body";
@import "report-meta";
@import "content-footer";