.report-meta {
  display: flex;
  flex: 1;
  min-width: 10%;
  max-width: 25%;
  flex-direction: column;
}

.meta {
  width: 100%;
  padding: .6em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  .meta-info {
    border-radius: .3em;
    width: 100%;
    .meta-info-title {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
}